.box1{
background-color: orange;
height:120px ;
}
.redes{
font-size: 60px !important;
color: white;
}
.box2{
    background-color: orange;
    height: 60px;
}
.texto{
    color: white;
    align-items: center 
}